@import url(reset.css); 

#main>div {
    /*border: 1px solid #000;*/
    max-width: 1240px;
    margin: 0 auto;
}

#header{
    background-color: #ccc;
    height: 120px;
}

table.general_list{
    width: 100%;
}

